#nutritionSearchForm,
#sleepTrackingForm,
#vitaminSearchForm {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#nutritionSearchForm input[type="text"],
#nutritionSearchForm input[type="number"],
#sleepTrackingForm input[type="number"],
#vitaminSearchForm input[type="text"],
#vitaminSearchForm input[type="number"] {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#nutritionSearchForm button,
#sleepTrackingForm button,
#vitaminSearchForm button {
    padding: 10px 15px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#nutritionSearchForm button:hover,
#sleepTrackingForm button:hover,
#vitaminSearchForm button:hover {
    background-color: #555;
}

#nutritionResults ul,
#vitaminResults ul {
    list-style-type: none;
    padding: 0;
}

#nutritionResults ul li,
#vitaminResults ul li {
    background-color: #f4f4f4;
    margin-top: 5px;
    padding: 10px;
    border-radius: 4px;
}

#sleepTrackingForm label {
    display: block;
    margin-top: 10px;
}

.bar-chart {
    text-align: center;
    margin-top: 20px;
}

.bar {
    display: inline-block;
    width: 50px; /* Width of each bar */
    margin: 0 10px; /* Spacing between bars */
    text-align: center;
}

.bar span {
    position: absolute;
    bottom: 100%; /* Position the text below the bars */
    left: 50%;
    transform: translateX(-50%);
    padding: 2px;
    color: black; /* Text color */
}

.footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer h3 {
    margin-top: 0;
}

.footer ul {
    list-style: none;
    padding: 0;
    display: flex;        
    justify-content: center;
    flex-wrap: wrap;
}

.footer ul li {
    margin: 5px 15px;
}

.footer a {
    color: lightblue;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.navbar {
    overflow: hidden;
    background-color: #555;
    width: 200px;
    flex: 0 0 200px;
    overflow: hidden;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #111;
}

/* Responsive grid */
.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.card {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
}