body {
    font-family: Arial, serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.content-container {
    display: flex;
}

.navbar {
    overflow: hidden;
    background-color: #555;
    width: 200px;  /* Adjust this width as necessary */
    flex: 0 0 200px; /* Adjust width as needed */
    overflow: hidden;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #111;
}

.main {
    padding: 20px;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Responsive grid */
.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.card {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
}

.main {
    flex-grow: 1;
    padding: 20px;
}

.footer {
    background-color: #333; /* Dark background for the footer */
    color: white;
    padding: 20px;
    text-align: center;
}

.footer h3 {
    margin-top: 0;
}

.footer ul {
    list-style: none; /* Removes the default list style */
    padding: 0;
}

.footer ul li {
    margin: 10px 0; /* Adds some space between the links */
}

.footer a {
    color: lightblue; /* Makes the link color stand out against the dark background */
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline; /* Underlines links on hover for better interactivity */
}
